<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="/static/bootstrap.css">
	<title>{{title}}</title>
</head>
<body>

<!-- навигация -->

<div class="container">

    <header class="d-flex justify-content-center px-4 py-4 border-bottom">
        <span class="fs-3 px-4">X-Ray Med</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/object">Функции</a></li>
        <li class="nav-item"><a class="nav-link" href="/models">Каталог моделей</a></li>
      </ul>
    </header>
  </div>


<!-- контент дочерних шаблонов -->
<div class="container my-3">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>