{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/main.css">

<script>$('input').on('change', function() {
  $('body').toggleClass('blue');
});</script>

<div class="container">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">

  <!-- <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src="/static/gibbs/dengi.jpg" alt="song">
    </label>
    <label class="card" for="item-2" id="song-2">
      <img src="/static/gibbs/halo.png" alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="/static/gibbs/first.png" alt="gibbs">
    </label>
  </div>
-->

  <!--  <div class="player">

    <div class="upper-part">

      <div class="info-area" id="test">
        <label class="song-info" id="song-info-1">
          <div class="title">Каталог культур<p></p></div>
        </label>
        <label class="song-info" id="song-info-2">
          <div class="title">Каталог болезеней<p></p></div>
        </label>
        <label class="song-info" id="song-info-3">
          <div class="title">Каталог препаратов<p></p></div>
        </label>
      </div>
    </div>
  </div>
-->
</div>



{% endblock %}
