{% extends 'base.html' %}

{% block content %}


<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Нейросетевая модель для культуры {{name}} найдена</h2>
    <p></p>
    <a class="link" href="/culture/{{id}}">Вернуться</a>
    <p></p>


</div>

<div class="container px-4 py-0">
    <h2 class="pb-2 border-bottom">Загрузите фото для распознавания болезни</h2>
    <div class="card mb-4 rounded-3 shadow-sm px-4 py-3">
    <div class="row">

            <div class="col">

                <form  method=post enctype=multipart/form-data>
                Фото
                    <input type=file name=file>
                    <p></p>
                    <p></p>
                      <input type=submit value=Загрузить>
                    </form>
                    <p></p>
                {% include 'message.html' %}
            </div>
    </div>
        </div>
    </div>
</div>




{% endblock %}