{% extends 'base.html' %}

{% block content %}


<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Модели в базе</h2>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
	{% for u in spisok %}

      <div class="col d-flex align-items-start" >

        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"></svg>
        <div>
          <h3 class="fw-bold mb-0 fs-4">{{u.name}}</h3>
          <p></p>Модель для поиска заболеваний<p></p>
            <a class="link" href="/disident/{{u.id}}">Воспользоваться моделью</a>


        </div>

      </div>

	{% endfor %}
	</div>





</div>


{% endblock %}