{% extends 'base.html' %}

{% block content %}

{% include 'message.html' %}

<div class="container px-4 py-5" id="icon-grid">
<h2 class="pb-2 border-bottom">Объект мониторинга</h2>
<h2 class="pb-2">Культуры на объекте</h2>
    </div>


<div class="container px-4 py-5 ">
    {% for u in spisok %}
        <div class="card mb-10 rounded-3 shadow-sm px-4 py-3 border-primary">
            <h2 class="pb-2 border-bottom">{{u.name}}</h2>
            <small class="text-body-secondary fw-bold">{{u.stage}}</small>
            <p></p>
            <div class="row">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 border-primary">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Информация</h4>
                        </div>
                        <p></p>
                        <div class="col d-flex align-items-start" >
                            <div>
                                <p></p>
                                <a class="icon-link mb-1" href="/cult/culture/{{u.id}}">Подробнее о культуре</a>
                                <p></p>
                                <a class="icon-link mb-1" href="/diseases/diseases/{{u.id}}">Возможные заболевания</a>
                                <p></p>
                                <a class="icon-link mb-1" href="/reference/viewing/{{u.idinobj}}">Технологическая карта</a>
                                <p></p>
                                {% if u.card != False %}
                                <a class="icon-link mb-1" href="/nutrition/inn/{{u.idinobj}}">Карта питания</a>
                                <p></p>
                                <a href="/stage/{{u.idinobj}}" target="popup" onclick="window.open('/stage/{{u.idinobj}}','name','width=400,height=300')">Выбрать стадию</a>
                                {% endif %}
                                <p></p>
                                {% if u.modellink == 1 %}
                                <p></p>
                                <a class="icon-link mb-1" href="/disident/{{u.id}}">Модель для поиска заболеваний</a>
                                {% endif %}
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if u.card != False %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Микроклимат</h4>
                                    {% if u.par == 1 %}
                                <span class="badge badge-danger">Отклонение от нормы</span>
                                    {% endif %}
                            </div>
                            <p></p>
                            {% for n in u.json %}
                                {{n}}:
                                {% if u.json[n] != None %}
                                    {{u.json[n]}}
                                    {{u.uint[n]}}
                                    {% if u.rc[n] == False %}
                                        {% if u.norm[n] is mapping %}
                                                <span class="badge badge-danger">
                                                    Отклонение от нормы
                                                    {{u.norm[n][u.day][0]}}-{{u.norm[n][u.day][1]}}, {{u.norm[n][u.day][2]}}
                                                </span>
                                        {% else %}
                                            <span class="badge badge-danger"> Отклонение от нормы {{u.norm[n][0]}}-{{u.norm[n][1]}}, {{u.norm[n][2]}}</span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                Значения не доступны
                                {% endif %}
                                <p></p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Питание</h4>
                                {% if u.nutrit == 1 %}
                                    <span class="badge badge-danger">Отклонение от нормы </span>
                                {% endif %}
                             </div>
                            <p></p>
                            {% if u.nutr != None %}
                                {% for i in u.nutr %}
                                    {{i}}: {{u.nutract[i]}}
                                    {{u.nutractmes}}
                                    {% if u.nutr[i] == False %}
                                        <span class="badge badge-danger">Отклонение от нормы {{u.normnutr[0][i][0]}}-{{u.normnutr[0][i][1]}},
                                            {{u.normnutr[1]}}</span>
                                    {% endif %}
                                    <p></p>
                                {% endfor %}
                            {% else %}
                                Значения не доступны
                            {% endif %}
                        </div>
                    </div>
                    {% if u.disexist == 1 %}
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 border-danger">
                            <div class="card-header text-white rounded-3 py-3 bg-danger">
                                <h4 class="my-0 fw-normal">Благоприятные условия для развития:  {% for d in u.dis %} {{d}} {% endfor %} </h4>
                            </div>
                            <p></p>
                            <a class="icon-link mb-2" href="/">Подробнее</a>
                        </div>
                    {% endif %}
                    {% if u.par == 1 %}
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 border-danger">
                            <div class="card-header rounded-3 py-3">
                                <h4 class="my-0 fw-normal">Приведите климат к заданным нормам</h4>
                                    {% for n in u.json %}
                                        {% if u.rc[n] == False %}
                                        {{n}}:
                                            {% if u.norm[n] is mapping %}
                                                {% for i in u.norm[n] %}
                                                <span class="badge badge-danger"> {{i}}: {{u.norm[n][i][0]}}-{{u.norm[n][i][1]}}, {{u.norm[n][i][2]}}</span>
                                                {% endfor %}
                                            {% else %}
                                                <span class="badge badge-danger"> {{u.norm[n][0]}}-{{u.norm[n][1]}}, {{u.norm[n][2]}}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if u.nutrit == 1 %}
                    <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 border-danger">
                        <div class="card-header rounded-3 py-3">
                        <h4 class="my-0 fw-normal">Скорректируйте состав питательного раствора</h4>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Микроклимат</h4>
                            </div>
                            <p></p>
                            {% for n in u.json %}
                                {{n}}:
                                {% if u.json[n] != None %}
                                    {{u.json[n]}}
                                    {{u.uint[n]}}
                                {% else %}
                                Значения не доступны
                                {% endif %}
                                <p></p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Питание</h4>
                             </div>
                            <p></p>
                            {% for i in u.nutr %}
                                {% if u.nutr != None %}
                                    {{i}}: {{u.nutract[i]}}
                                    {{u.nutractmes}}
                                    <p></p>
                                {% else %}
                                Значения не доступны
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if u.disexist == 1 %}
                        <div class="card mb-4 rounded-3 shadow-sm px-4 py-3 border-danger">
                            <div class="card-header text-white rounded-3 py-3 bg-danger">
                                <h4 class="my-0 fw-normal">Благоприятные условия для развития:  {% for d in u.dis %} {{d}} {% endfor %} </h4>
                            </div>
                            <p></p>
                            <a class="icon-link mb-2" href="/">Подробнее</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    <p></p>
    {% endfor %}
    <a class="icon-link mb-2" href="/addtoobject">Добавить культуру на объект</a>
</div>


{% endblock %}

